<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= genre %></title>
  </head>
  <body>
    <h1><%= genre %></h1>
    <% if (locals.queryGenreGames) { %>
    <ul>
      <% queryGenreGames.forEach(result => { %>
      <li>
        <p><%= result.title %></p>
        <a href=<%= `/game/${result.game_id}` %>>More info</a>
      </li>
      <% }); %>
    </ul>
    <% } %>
    <a href="/">Back home</a>
  </body>
</html>
