<html>
  <head>
    <title><%= genre %></title>
  </head>
  <body>
    <h1><%= genre %></h1>
    <% if (locals.queryGenre) { %>
    <ul>
      <% queryGenre.forEach(result => { %>
      <li>
        <p><%= result.title %></p>
        <a href=<%= `/game/${result.game_id}` %>>More info</a>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
