<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (locals.categories) { %>
    <ul>
      <% categories.forEach(category => { %>
      <li>
        <a href=<%= `/category/${category.genre}` %>><button><%= category.genre %></button></a>
      </li>
      <% }); %>
    </ul>
    <% } %>
  </body>
</html>
